<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Anna documentation for <%= module.name %></title>
  </head>
  <body>
    
    <h1><%! data.linkPath() %></h1>

    <%! extractDocumentation(module.attribute) or ""%>
    
    <%
       if(submodule.count > 0)
       {
    %>
    <h2>Submodules</h2>
    <ul>
    <% 
       submodule.each(mem)
       {
           %>
      <li><%! getLink(module, mem.value(?).__type__) %></li>
<%
	}
    %>
    </ul>
    <%
       }
    %>
    <% 
       if(subtype.count > 0)
       {
    %>
    <h2>Types</h2>
    <ul>
    <% 
        subtype.each(mem)
        {
           val := mem.value(?);
           %>
      <li><%! getLink(module, val as Type) %></li>
      <%
	}
      %>
    </ul>
    <% 
       }
    %>
    <% 
       if(subother.count > 0)
       {
    %>
    <h2>Other members</h2>
    <ul>
    <% 
       subother.each(mem)
       {
           val := mem.value(?);
       %>
      <li><a href="#<%= mem.name  %>"><%= mem.name %></a></li>
<%
	}
    %>
    </ul>
    <% 
       }
    %>

    <% module.member.filter(mem){val := mem.value(?); !val.__type__.isModule and !(val as Type) and mem.type != Null}.each(mem){ %>    
    <hr>
    <%! documentMember(mem) %>
    <% } %>

  </body>
</html>
