*~
\#*\#
.\#*
anna_yacc.output
anna_yacc.c
anna_yacc.h
anna_lex.c
anna_lex.h
*.o
*.d
anna
anna_float_i.c
anna_char_i.c
anna_int_i.c
anna_string_i.c
gmon.out
anna_string_perf
anna_string_internal_test
