*~
\#*\#
.\#*
anna_yacc.output
anna_yacc.c
anna_yacc.h
anna_lex.c
anna_lex.h
*.o
*.d
*.out
*.gcov
*.gcda
*.gcno
anna
mandel
anna_float_i.c
anna_char_i.c
anna_int_i.c
anna_complex_i.c
anna_object_i.c
anna_string_i.c
anna_string_perf
anna_string_internal_test
anna_vm_short_circut.c